// node modules
node_modules

// dist folders
pages/*/__dist
pages/*/__dist_offline

// compiled javascript
pages/*/lib
titles/*/lib
games/*/lib
framework/*/lib

// local env files
pnpm-lock.yaml
pnpm-workspace.yaml
story-play-v2.code-workspace

// test coverage
coverage
*/*/coverage

//  GitHub pages
gitHubPages
