// node modules
node_modules

// dist folders
web-pages/*/__dist
web-pages/*/__dist_offline

// compiled javascript
web-pages/*/lib
titles/*/lib
games/*/lib
framework/*/lib

// local env files
pnpm-lock.yaml
pnpm-workspace.yaml
story-play-v2.code-workspace

// test coverage
coverage
*/*/coverage

//  GitHub pages
gitHubPages

.vscode
